
/*.body-login{*/
/*}*/

h1, h2, h3, h4, h5, p {
    color: #66BB6A;
    font-family: 'Agency FB';
}

.material-icons-green{
    color: #66BB6A;
}

.logo {
    position: absolute;
    margin: auto;
    padding: 30px;
    left: 0px;
    top: 0px;
}

.logo > h1 {
    margin: 0px;
}

.login-wrapper {
    background-color: white;
    width: 50%;
    padding: 30px;
    margin: auto;
    margin-top: 10%;

}

.logo-text {
    text-align: center;
}

.time{
    padding: 10%;
    color: black;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}

.time:hover{
    color: white;
    background-color: #5cb85c;
    cursor: pointer;
}

.selected_time{
    background-color: #5cb85c;
}

.scroll{
    overflow:hidden;
    overflow-y: scroll;
    height: 500px;
    display:block;
}

.dates {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.dates td, .dates th {
    border: 1px solid #ddd;
    padding: 8px;
}

.dates td:nth-child(1) {
    width:  40%;
}
.dates td:nth-child(2) {
    width:  40%;
}


.datesTitles tr{
    height: 30px;
    background-color: #333;
    color: white;
}
.datesTitles th{padding: 10px;
}

.panel-default>.panel-heading{
    background-color: #333;
    color: white;
    font-weight: bold;
    text-align: left;
}

.panel{
    border:none;
}

#btnMakeLesson{
    margin: 15px;
}

#datePlaceholder{
    color: darkgrey;
    margin-left: 40%;
    margin-top: 1%;
}

#createLessonContainer{
    margin-bottom: 3%;
}

td.highlight {border: none !important;padding: 1px 0 1px 1px !important;background: none !important;overflow:hidden;}
td.highlight a {background: #99dd73 50% 50% repeat-x !important;  border: 1px #88a276 solid !important;}

.shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.side-nav li > a {
    padding: 0 16px;
}

.side-nav .divider {
    margin: 0;
    height: 8px;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
}

.sidenav-header {
    background: url("../images/user-bg.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 0px;
    padding: 15px 0 0 15px;
}
.sidenav-header .row {
    margin-bottom: 0;
}

.sidenav-footer {
    margin-bottom: 0px;
    padding: 0;
}
.sidenav-footer .row {
    margin-bottom: 0;
}
.sidenav-footer .row .social-icons a {
    opacity: 0.5;
    padding: 0;
    text-align: center;
}
.sidenav-footer .row .social-icons a:hover {
    background-color: inherit;
    opacity: 1;
}

.datepicker-modal{
    max-height: 400px;
}

.color-box{
    width: 30px;
    height: 30px;
}

.eventModal{
    height: 70%;
}

.studentSearchForm{
    display: none;
}

.fc-day:hover, .fc-event-container{
    cursor: pointer;
}

/*Turn pointer events back on*/
.fc-bgevent,
.fc-event-container{
    pointer-events:auto; /*events*/
}

.fc-button{
    background: #66BB6A !important;
}

.fc-prev-button{
    background: #66BB6A !important;
}


.horizontal-list {
    list-style: none;
    margin: 0px;
}
.horizontal-list li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    float: left;
}

.colorpicker{
    margin-top: 10px;
}

.removed_lessondate{
    display: none;
}

.alert-succes{
    background-color: #ef5350 !important;
}

.succes{
    background-color: #66bb6a;
}

.error{
    border: solid 1px #ef5350;
    color: #ef5350;
}

.error-color{
    color: #ef5350;
}
.dim-screen
{
    display: none;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.loader{
    display: none;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 1000;
    width: 50%;
    top: 50%;
}

.collap-header-title{
    width: 80%;
}

.collap-header-functions{
    width: 20%;
}

.col-presence{
    margin: 15px 0px;\
}

/*.switch-on label{*/
    /*color:#66BB6A;*/
/*!*}*!*/

/*.switch label input[type=checkbox]:checked+.lever {*/
    /*background-color: #66BB6A;*/
    /*color:#66BB6A;*/
/*}*/

/*.switch label input[type=checkbox]:checked+.lever:after {*/
    /*background-color: #26a69a;*/
/*}*/

/*.table-excel-log td{*/
    /*color:white*/
/*}*/







