.fc-day:hover, .fc-event-container{
  cursor: pointer;
}

/*Turn pointer events back on*/
.fc-bgevent,
.fc-event-container{
  pointer-events:auto; /*events*/
}

.fc-time-grid-event, .fc-day-grid-event{
  border-radius: 0px !important;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.full{
  background-color: color('grey','darken-1') !important;
  border-color: color('grey','darken-1') !important;
  .fc-content{
   opacity: 0.3;
 }
}