.admin {
  @import "elements/elements";

  @import "pages/pages";

  .scroll{
    overflow:hidden;
    overflow-y: scroll;
    height: 500px;
    display:block;
  }

  .studentSearchForm{
    display: none;
  }

  .removed_lessondate{
    display: none;
  }

  .col-presence{
    position: relative;
  }
}













