@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-MediumItalic.woff2') format('woff2'),
  url('/fonts/Archivo-MediumItalic.woff') format('woff'),
  url('/fonts/Archivo-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-SemiBoldItalic.woff2') format('woff2'),
  url('/fonts/Archivo-SemiBoldItalic.woff') format('woff'),
  url('/fonts/Archivo-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Medium.woff2') format('woff2'),
  url('/fonts/Archivo-Medium.woff') format('woff'),
  url('/fonts/Archivo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Bold.woff2') format('woff2'),
  url('/fonts/Ubuntu-Bold.woff') format('woff'),
  url('/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Italic.woff2') format('woff2'),
  url('/fonts/Archivo-Italic.woff') format('woff'),
  url('/fonts/Archivo-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Italic.woff2') format('woff2'),
  url('/fonts/Ubuntu-Italic.woff') format('woff'),
  url('/fonts/Ubuntu-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Bold.woff2') format('woff2'),
  url('/fonts/Archivo-Bold.woff') format('woff'),
  url('/fonts/Archivo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Regular.woff2') format('woff2'),
  url('/fonts/Archivo-Regular.woff') format('woff'),
  url('/fonts/Archivo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-BoldItalic.woff2') format('woff2'),
  url('/fonts/Archivo-BoldItalic.woff') format('woff'),
  url('/fonts/Archivo-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
  url('/fonts/Ubuntu-BoldItalic.woff') format('woff'),
  url('/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.woff2') format('woff2'),
  url('/fonts/Ubuntu-Regular.woff') format('woff'),
  url('/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Light.woff2') format('woff2'),
  url('/fonts/Ubuntu-Light.woff') format('woff'),
  url('/fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-LightItalic.woff2') format('woff2'),
  url('/fonts/Ubuntu-LightItalic.woff') format('woff'),
  url('/fonts/Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
  url('/fonts/Ubuntu-MediumItalic.woff') format('woff'),
  url('/fonts/Ubuntu-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Medium.woff2') format('woff2'),
  url('/fonts/Ubuntu-Medium.woff') format('woff'),
  url('/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-SemiBold.woff2') format('woff2'),
  url('/fonts/Archivo-SemiBold.woff') format('woff'),
  url('/fonts/Archivo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

