body {
    background: linear-gradient(white, #bdbdbd) !important;

}
/*.body-login{*/
/*}*/

h1, h2, h3, h4, h5, p{
    color: #66BB6A;
    font-family: 'Agency FB';
}

.margin-none {
    margin: 0;
}

.sidenav {
    position: absolute;
    width: 275px;
    font-family: 'Agency FB';
    font-size: 18px;
}

a {
    color: black;
}

.collection a.collection-item {
    color: black;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.collapsible-body {
    width: 100%;
    background-color: white;
}

#dashboard_content {
    padding: 15px;
    margin-top: 50px;

}

label {
    color: #000000 !important;
}

.log_reg {
    font-size: 30px;
}

button:focus {
    background-color: whitesmoke;
}

.loader {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#eventModal {
    max-height: none;
    height: 50%;
}

.material-icons {
    color: #66BB6A;
    margin-right: 1rem;
}

.menu-icon {
    color: white;
}

.container_wrapper {
    margin-top: 45px;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.login {
    margin-top: 5%;
}

.logo {
    position: absolute;
    margin: auto;
    padding: 30px;
    left: 0px;
    top: 0px;
}

.logo > h1 {
    margin: 0px;
}

.login-wrapper {
    width: 70%;
    margin: auto;
    margin-top: 10%;

}

.logo-text {
    text-align: center;
}

i.material-icons {
    vertical-align: middle;
}

a:hover {
    color: black;
    text-decoration: underline;
}


.wrapper-location-data p {
    font-size: 18px;
}

.wrapper-location-data{
    margin: 15px 0px;
}

.card-content-location-data {
    padding: 15px;
}

.card-studio {
     margin: 30px !important;
     float: left;
}

.card-studio h4{
   margin: 0;
}

.card-studio-content{
    padding: 15px !important;
    padding-bottom: 0px !important;
}

.studio-item {
    box-shadow: none;
}

.btn:hover {
    color: #bdbdbd;
}

.link-9292{
    height: 50px;
    /*background-image: url("https://9292.nl/gimmage/N2/DefaultTemplate/Plan%20mijn%20OV-reis.png");*/
    /*background-size: cover;*/
}

.link-9292 img{
    padding: 5px;
    /*background-image: url("https://9292.nl/gimmage/N2/DefaultTemplate/Plan%20mijn%20OV-reis.png");*/
    /*background-size: cover;*/
}

.material-tooltip{
    background-color: #ef5350;
}
.tooltip_error{
    text-align: left;
}
.tooltip_error p{
    color:white;
}

.card-title{
    color: #66BB6A !important;
}
.location-data{
    width: 100%;
}
.location-title{
    float: left;
     width: 30%;
}

.location-content{
    float: left;
    width: 70%;
}




/*.card-title-lesson{*/
/*position: absolute;*/
/*width: 100%;*/
/*bottom: 0px;*/
/*background-color: #66BB6A;*/
/*padding: 15px;*/
/*color: white;*/
/*}*/
