.login-wrapper {
  background-color: white;
  width: 50%;
  padding: 30px;
  margin: auto;
  margin-top: 10%;

}

.logo-text {
  text-align: center;
}

.logo {
  position: absolute;
  margin: auto;
  padding: 30px;
  left: 0px;
  top: 0px;

  h1 {
    margin: 0px;
  }
}